swagger: '2.0'
info:
  title: Star Wars API Gateway
  description: API Gateway para o Star Wars API no Cloud Run
  version: 1.0.0
host: swapi-gateway-9gaiurpg.uc.gateway.dev
schemes:
  - https
securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query
paths:
  # Health Check
  /health:
    get:
      summary: Health Check
      operationId: health_check
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/health
      responses:
        '200':
          description: Health check status
          
  # Authentication Endpoints
  /auth:
    post:
      summary: Generate JWT Token
      operationId: authenticate
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/auth
      responses:
        '201':
          description: JWT token generated successfully
          
  /warm-cache:
    post:
      summary: Warm up cache
      operationId: warm_cache
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/warm-cache
        deadline: 300.0
      responses:
        '200':
          description: Cache warmed successfully
          
  # SWAPI Endpoints - People
  /swapi/people:
    get:
      summary: List People
      operationId: list_people
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/people
        deadline: 120.0
      parameters:
        - name: name
          in: query
          type: string
          description: Filter by name
        - name: birth_year
          in: query
          type: string
          description: Filter by birth year
        - name: eye_color
          in: query
          type: string
          description: Filter by eye color
        - name: gender
          in: query
          type: string
          description: Filter by gender
        - name: hair_color
          in: query
          type: string
          description: Filter by hair color
        - name: height
          in: query
          type: string
          description: Filter by height
        - name: mass
          in: query
          type: string
          description: Filter by mass
        - name: skin_color
          in: query
          type: string
          description: Filter by skin color
        - name: order
          in: query
          type: string
          enum: [asc, desc]
          description: Sort order
        - name: order_by
          in: query
          type: string
          description: Field to sort by
      responses:
        '200':
          description: List of people
          
  /swapi/people/{person_id}:
    get:
      summary: Get Person by ID
      operationId: get_person
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/people/{person_id}
        deadline: 120.0
      parameters:
        - name: person_id
          in: path
          required: true
          type: string
          description: Person ID
      responses:
        '200':
          description: Person details
          
  # SWAPI Endpoints - Films
  /swapi/films:
    get:
      summary: List Films
      operationId: list_films
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/films
        deadline: 120.0
      parameters:
        - name: title
          in: query
          type: string
          description: Filter by title
        - name: episode_id
          in: query
          type: string
          description: Filter by episode ID
        - name: director
          in: query
          type: string
          description: Filter by director
        - name: producer
          in: query
          type: string
          description: Filter by producer
        - name: release_date
          in: query
          type: string
          description: Filter by release date
        - name: order
          in: query
          type: string
          enum: [asc, desc]
          description: Sort order
        - name: order_by
          in: query
          type: string
          description: Field to sort by
      responses:
        '200':
          description: List of films
          
  /swapi/films/{film_id}:
    get:
      summary: Get Film by ID
      operationId: get_film
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/films/{film_id}
        deadline: 120.0
      parameters:
        - name: film_id
          in: path
          required: true
          type: string
          description: Film ID
      responses:
        '200':
          description: Film details
          
  # SWAPI Endpoints - Starships
  /swapi/starships:
    get:
      summary: List Starships
      operationId: list_starships
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/starships
        deadline: 120.0
      parameters:
        - name: name
          in: query
          type: string
          description: Filter by name
        - name: model
          in: query
          type: string
          description: Filter by model
        - name: manufacturer
          in: query
          type: string
          description: Filter by manufacturer
        - name: cost_in_credits
          in: query
          type: string
          description: Filter by cost in credits
        - name: length
          in: query
          type: string
          description: Filter by length
        - name: max_atmosphering_speed
          in: query
          type: string
          description: Filter by max speed
        - name: crew
          in: query
          type: string
          description: Filter by crew size
        - name: passengers
          in: query
          type: string
          description: Filter by passenger capacity
        - name: cargo_capacity
          in: query
          type: string
          description: Filter by cargo capacity
        - name: consumables
          in: query
          type: string
          description: Filter by consumables
        - name: hyperdrive_rating
          in: query
          type: string
          description: Filter by hyperdrive rating
        - name: MGLT
          in: query
          type: string
          description: Filter by MGLT
        - name: starship_class
          in: query
          type: string
          description: Filter by starship class
        - name: order
          in: query
          type: string
          enum: [asc, desc]
          description: Sort order
        - name: order_by
          in: query
          type: string
          description: Field to sort by
      responses:
        '200':
          description: List of starships
          
  /swapi/starships/{starship_id}:
    get:
      summary: Get Starship by ID
      operationId: get_starship
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/starships/{starship_id}
        deadline: 120.0
      parameters:
        - name: starship_id
          in: path
          required: true
          type: string
          description: Starship ID
      responses:
        '200':
          description: Starship details
          
  # SWAPI Endpoints - Vehicles
  /swapi/vehicles:
    get:
      summary: List Vehicles
      operationId: list_vehicles
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/vehicles
        deadline: 120.0
      parameters:
        - name: name
          in: query
          type: string
          description: Filter by name
        - name: model
          in: query
          type: string
          description: Filter by model
        - name: manufacturer
          in: query
          type: string
          description: Filter by manufacturer
        - name: cost_in_credits
          in: query
          type: string
          description: Filter by cost in credits
        - name: length
          in: query
          type: string
          description: Filter by length
        - name: max_atmosphering_speed
          in: query
          type: string
          description: Filter by max speed
        - name: crew
          in: query
          type: string
          description: Filter by crew size
        - name: passengers
          in: query
          type: string
          description: Filter by passenger capacity
        - name: cargo_capacity
          in: query
          type: string
          description: Filter by cargo capacity
        - name: consumables
          in: query
          type: string
          description: Filter by consumables
        - name: vehicle_class
          in: query
          type: string
          description: Filter by vehicle class
        - name: order
          in: query
          type: string
          enum: [asc, desc]
          description: Sort order
        - name: order_by
          in: query
          type: string
          description: Field to sort by
      responses:
        '200':
          description: List of vehicles
          
  /swapi/vehicles/{vehicle_id}:
    get:
      summary: Get Vehicle by ID
      operationId: get_vehicle
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/vehicles/{vehicle_id}
        deadline: 120.0
      parameters:
        - name: vehicle_id
          in: path
          required: true
          type: string
          description: Vehicle ID
      responses:
        '200':
          description: Vehicle details
          
  # SWAPI Endpoints - Species
  /swapi/species:
    get:
      summary: List Species
      operationId: list_species
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/species
        deadline: 120.0
      parameters:
        - name: name
          in: query
          type: string
          description: Filter by name
        - name: classification
          in: query
          type: string
          description: Filter by classification
        - name: designation
          in: query
          type: string
          description: Filter by designation
        - name: average_height
          in: query
          type: string
          description: Filter by average height
        - name: skin_colors
          in: query
          type: string
          description: Filter by skin colors
        - name: hair_colors
          in: query
          type: string
          description: Filter by hair colors
        - name: eye_colors
          in: query
          type: string
          description: Filter by eye colors
        - name: average_lifespan
          in: query
          type: string
          description: Filter by average lifespan
        - name: language
          in: query
          type: string
          description: Filter by language
        - name: order
          in: query
          type: string
          enum: [asc, desc]
          description: Sort order
        - name: order_by
          in: query
          type: string
          description: Field to sort by
      responses:
        '200':
          description: List of species
          
  /swapi/species/{species_id}:
    get:
      summary: Get Species by ID
      operationId: get_species
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/species/{species_id}
        deadline: 120.0
      parameters:
        - name: species_id
          in: path
          required: true
          type: string
          description: Species ID
      responses:
        '200':
          description: Species details
          
  # SWAPI Endpoints - Planets
  /swapi/planets:
    get:
      summary: List Planets
      operationId: list_planets
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/planets
        deadline: 120.0
      parameters:
        - name: name
          in: query
          type: string
          description: Filter by name
        - name: rotation_period
          in: query
          type: string
          description: Filter by rotation period
        - name: orbital_period
          in: query
          type: string
          description: Filter by orbital period
        - name: diameter
          in: query
          type: string
          description: Filter by diameter
        - name: climate
          in: query
          type: string
          description: Filter by climate
        - name: gravity
          in: query
          type: string
          description: Filter by gravity
        - name: terrain
          in: query
          type: string
          description: Filter by terrain
        - name: surface_water
          in: query
          type: string
          description: Filter by surface water
        - name: population
          in: query
          type: string
          description: Filter by population
        - name: order
          in: query
          type: string
          enum: [asc, desc]
          description: Sort order
        - name: order_by
          in: query
          type: string
          description: Field to sort by
      responses:
        '200':
          description: List of planets
          
  /swapi/planets/{planet_id}:
    get:
      summary: Get Planet by ID
      operationId: get_planet
      x-google-backend:
        address: https://sw-api-740742324676.us-central1.run.app/swapi/planets/{planet_id}
        deadline: 120.0
      parameters:
        - name: planet_id
          in: path
          required: true
          type: string
          description: Planet ID
      responses:
        '200':
          description: Planet details
